{% extends '@BackOffice/base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/list.css') }}" />
{% endblock %}

{% block body %}
    <div class="list-header">
        <h1>Covoiturages list</h1>
        <a href="{{ path('covoiturage_new') }}">Create a new covoiturage</a>
    </div>

    <table>
        <thead>
            <tr>
                <th style="width: 10%">Id</th>
                <th style="width: 35%">Trajet</th>
                <th style="width: 25%">Utilisateur</th>
                <th style="width: 20%">Type de covoit.</th>
                <th style="width: 10%; text-align: right">Action</th>
            </tr>
        </thead>
        <tbody>
        {% for covoiturage in covoiturages %}
            <tr onclick="window.location.href = '{{ path('covoiturage_show', { 'id': covoiturage.id }) }}'">
                <td>{{ covoiturage.id }}</td>
                <td>{{ covoiturage.trajet }}</td>
                <td>{{ covoiturage.utilisateur }}</td>
                <td>{{ covoiturage.typeCovoit }}</td>
                <td>
                    <a href="{{ path('covoiturage_edit', { 'id': covoiturage.id }) }}">Modifier</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
