{% extends '@BackOffice/base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/list.css') }}" />
{% endblock %}

{% block body %}
    <div class="list-header">
        <h1>Covoiturages list</h1>
        <a href="{{ path('covoiturage_new') }}">Create a new covoiturage</a>
    </div>

    <table>
        <thead>
            <tr>
                <th style="width: 10%">Id</th>
                <th style="width: 40%">Created</th>
                <th style="width: 40%">Updated</th>
                <th style="width: 10%; text-align: right">Action</th>
            </tr>
        </thead>
        <tbody>
        {% for covoiturage in covoiturages %}
            <tr onclick="window.location.href = '{{ path('covoiturage_show', { 'id': covoiturage.id }) }}'">
                <td>{{ covoiturage.id }}</td>
                <td>{{ covoiturage.created|date('d/m/Y H:i:s') }}</td>
                <td>{% if covoiturage.updated %}{{ covoiturage.updated|date('d/m/Y H:i:s') }}{% endif %}</td>
                <td>
                    <a href="{{ path('covoiturage_edit', { 'id': covoiturage.id }) }}">Modifier</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
