{% extends '@BackOffice/base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/details.css') }}" />
{% endblock %}

{% block body %}
    <h1>Covoiturage</h1>

    <div class="row">
        <div class="col-7">
            <div class="block">
                <div class="block-header">
                    <span class="block-title">Détails</span>
                </div>
                <div class="block-body">
                    <table class="entity show">
                        <tbody>
                            <tr>
                                <th>Id</th>
                                <td>{{ covoiturage.id }}</td>
                            </tr>
                            <tr>
                                <th>Créé (created)</th>
                                <td>{% if covoiturage.created %}{{ covoiturage.created|date('d/m/Y H:i:s') }}{% endif %}</td>
                            </tr>
                            <tr>
                                <th>Mis à jour (updated)</th>
                                <td>{% if covoiturage.updated %}{{ covoiturage.updated|date('d/m/Y H:i:s') }}{% endif %}</td>
                            </tr>
                            <tr>
                                <th>Co2 économisé</th>
                                <td>
                                    {% if covoiturage.co2 %}
                                        <a href="{{ path('co2_show', { 'id': covoiturage.co2.id }) }}">{{ covoiturage.co2 }}</a>
                                    {% else %}
                                        Aucun
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>Trajet</th>
                                <td><a href="{{ path('trajet_show', { 'id': covoiturage.trajet.id }) }}">{{ covoiturage.trajet }}</a></td>
                            </tr>
                            <tr>
                                <th>Type de covoit.</th>
                                <td><a href="{{ path('typecovoit_show', { 'id': covoiturage.typeCovoit.id }) }}">{{ covoiturage.typeCovoit }}</a></td>
                            </tr>
                            <tr>
                                <th>Utilisateur</th>
                                <td><a href="{{ path('utilisateur_show', { 'id': covoiturage.utilisateur.id }) }}">{{ covoiturage.utilisateur }}</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-5">
            <div class="block">
                <div class="block-header">
                    <span class="block-title">Action</span>
                </div>
                <div class="block-body">
                    <table class="action">
                        <tr><td>
                            {{ form_start(delete_form) }}
                                <input type="submit" value="Supprimer">
                            {{ form_end(delete_form) }}
                        </td></tr>
                        <tr><td><a href="{{ path('covoiturage_edit', { 'id': covoiturage.id }) }}">Modifier</a></td></tr>
                        <tr><td><a href="{{ path('covoiturage_index') }}">Retour à la liste</a></td></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
