{% extends '@BackOffice/base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/list.css') }}" />
{% endblock %}

{% block body %}
    <div class="list-header">
        <h1>Typevehicules list</h1>
        <a href="{{ path('typevehicule_new') }}">Create a new typeVehicule</a>
    </div>

    <table>
        <thead>
            <tr>
                <th style="width: 10%">Id</th>
                <th style="width: 80%">Type</th>
                <th style="width: 10%; text-align:right">Action</th>
            </tr>
        </thead>
        <tbody>
        {% for typeVehicule in typeVehicules %}
            <tr onclick="window.location.href = '{{ path('typevehicule_show', { 'id': typeVehicule.id }) }}'">
                <td>{{ typeVehicule.id }}</td>
                <td>{{ typeVehicule.type }}</td>
                <td>
                    <a href="{{ path('typevehicule_edit', { 'id': typeVehicule.id }) }}">Modifier</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
