{% extends '@BackOffice/base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/details.css') }}" />
{% endblock %}

{% block body %}
    <h1>Trajet</h1>

    <div class="row">
        <div class="col-7">
            <div class="block">
                <div class="block-header">
                    <span class="block-title">Détails</span>
                </div>
                <div class="block-body">
                    <table class="entity show">
                        <tbody>
                            <tr>
                                <th>Id</th>
                                <td>{{ trajet.id }}</td>
                            </tr>
                            <tr>
                                <th>Date de départ</th>
                                <td>{% if trajet.dateDepart %}{{ trajet.dateDepart|date('d/m/Y') }}{% endif %}</td>
                            </tr>
                            <tr>
                                <th>Heure de départ</th>
                                <td>{% if trajet.heureDepart %}{{ trajet.heureDepart|date('H:i') }}{% endif %}</td>
                            </tr>
                            <tr>
                                <th>Places passager</th>
                                <td>{{ trajet.nbPlace }}</td>
                            </tr>
                            <tr>
                                <th>Durée</th>
                                <td>{{ trajet.duree }} h</td>
                            </tr>
                            <tr>
                                <th>Commentaire</th>
                                <td>{{ trajet.commentaire }}</td>
                            </tr>
                            <tr>
                                <th>Distance</th>
                                <td>{{ trajet.nbKm }} km</td>
                            </tr>
                            <tr>
                                <th>Possède</th>
                                <td><a href="{{ path('possede_show', { 'id': trajet.possede.id }) }}">{{ trajet.possede }}</a></td>
                            </tr>
                            <tr>
                                <th>Type de trajet</th>
                                <td><a href="{{ path('typetrajet_show', { 'id': trajet.typeTrajet.id }) }}">{{ trajet.typeTrajet }}</a></td>
                            </tr>
                            <tr>
                                <th>Ville de départ</th>
                                <td><a href="{{ path('ville_show', { 'id': trajet.villeDepart.id }) }}">{{ trajet.villeDepart }}</a></td>
                            </tr>
                            <tr>
                                <th>Ville d'arrivée</th>
                                <td><a href="{{ path('ville_show', { 'id': trajet.villeArrivee.id }) }}">{{ trajet.villeArrivee }}</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-5">
            <div class="block">
                <div class="block-header">
                    <span class="block-title">Action</span>
                </div>
                <div class="block-body">
                    <table class="action">
                        <tr><td>
                            {{ form_start(delete_form) }}
                                <input type="submit" value="Supprimer">
                            {{ form_end(delete_form) }}
                        </td></tr>
                        <tr><td><a href="{{ path('trajet_edit', { 'id': trajet.id }) }}">Modifier</a></td></tr>
                        <tr><td><a href="{{ path('trajet_index') }}">Retour à la liste</a></td></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
