{% extends '@BackOffice/base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/list.css') }}" />
{% endblock %}

{% block body %}
    <div class="list-header">
        <h1>Possedes list</h1>
        <a href="{{ path('possede_new') }}">Create a new possede</a>
    </div>

    <table>
        <thead>
            <tr>
                <th style="width: 10%">Id</th>
                <th style="width: 30%">Voiture</th>
                <th style="width: 30%">Immatriculation</th>
                <th style="width: 20%">Nb de places</th>
                <th style="width: 10%; text-align: right">Action</th>
            </tr>
        </thead>
        <tbody>
        {% for possede in possedes %}
            <tr onclick="window.location.href = '{{ path('possede_show', { 'id': possede.id }) }}'">
                <td>{{ possede.id }}</td>
                <td>{{ possede.voiture }}</td>
                <td>{{ possede.immatriculation }}</td>
                <td>{{ possede.nbPlace }}</td>
                <td>
                    <a href="{{ path('possede_edit', { 'id': possede.id }) }}">Modifier</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
