{# Page principale du back office, affiche notamment les statistiques sur l'utilisation du service #}

{% extends '@BackOffice/base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/homepage.css') }}" />
{% endblock %}

{% block body %}
    <h1>Accueil</h1>
    
    {# Block 'Statistiques' avec la moyenne de Co2 économisé par mois dans l'année, le nombre d'utilisateurs et le nombre de trajets #}
    <div class="block">
        <div class="block-header">
            <span class="block-title">Statistiques</span>
        </div>
        <div class="block-body">
            <div class="flex">
                <div class="flex-card">
                    <div class="sbs">
                        <img src="{{ asset('img/cloud.png') }}" width="90">
                        <div>
                            {{ co2SavedAvg }} kg
                        </div>
                    </div>
                    <div class="description">
                        de Co2 économisés par mois
                    </div>
                </div>

                <div class="flex-card">
                    <div class="sbs">
                        <img src="{{ asset('img/person.png') }}" width="90">
                        <div>
                            {{ nbUtilisateurs }}
                        </div>
                    </div>
                    <div class="description">
                        utilisateurs<br>inscrits
                    </div>
                </div>

                <div class="flex-card">
                    <div class="sbs">
                        <img src="{{ asset('img/marker.png') }}" width="90">
                        <div>
                            {{ nbTrajets }}
                        </div>
                    </div>
                    <div class="description">
                        trajets<br>proposés
                    </div>
                </div>

            </div>
        </div>
    </div>

    {# Block 'Économie de Co2 par mois' avec le graphique affichant la quantité de Co2 économisé chaque mois #}
    <div class="block">
        <div class="block-header">
            <span class="block-title">Économie de Co2 par mois</span>
        </div>
        <div class="block-body chart-block">
            <canvas id="co2-chart"></canvas>
        </div>
    </div>

    <div class="row">
        <div class="col-6 block">
            {# Tableau des 10 derniers utilisateurs inscrits #}
            <div class="block-header">
                <span class="block-title">Derniers utilisateurs inscrits</span>
            </div>
            <div class="block-body">
                <table>
                    {% if last10Utilisateurs is empty %}
                        <tr>
                            <td class="col-center">Aucun utilisateur enregistré</td>
                        </tr>
                    {% else %}
                        {% for u in last10Utilisateurs %}
                            <tr>
                                <td class="col-left">{{ u.prenom }} {{ u.nom }}</td><td class="col-right">{{ u.ville.ville }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </table>
            </div>
        </div>

        <div class="col-6 block">
            {# Tableau des 10 derniers trajets proposés #}
            <div class="block-header">
                <span class="block-title">Derniers trajets proposés</span>
            </div>
            <div class="block-body">
                <table>
                    {% if last10Trajets is empty %}
                        <tr>
                            <td class="col-center">Aucun trajet enregistré</td>
                        </tr>
                    {% else %}
                        {% for t in last10Trajets %}
                            <tr>
                                <td class="col-left">{{ t.villeDepart.ville }} -> {{ t.villeArrivee.ville }}</td><td class="col-right">{{ t.typeTrajet.typeTrajet }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {# Javascript utilisé pour l'affichage du graphique #}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script>
        var co2Data = [{{ co2SavedByMonth|join(',') }}]

        function initChart() {
            if(!co2Data) {
                console.log("No data given")
                return;
            }

            let chartData = {
                labels: ["Janvier", "Février", "Mars", "Avril", "Mais", "Juin", "Juillet", "Août", "Septembre", "Octobre", "Novembre", "Décembre"],
                datasets: [{
                    data: co2Data,
                    borderWidth: 4,
                    borderColor: '#A73137',
                    pointBackgroundColor: '#A73137',
                    backgroundColor: 'rgba(167, 49, 55, 0.5)'
                }]
            };

            let co2Chart = document.getElementById("co2-chart");
            
            if (co2Chart) {
                new Chart(co2Chart, {
                    type: 'line',
                    data: chartData,
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                beginAtZero: false
                                }
                            }]
                        },
                        legend: {
                            display: false
                        }
                    }
                });
            }
        }

        $(document).ready(function() {
            initChart();
        })
    </script>
{% endblock %}