{% extends '@BackOffice/base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/homepage.css') }}" />
{% endblock %}

{% block body %}
    <h1>Accueil</h1>
    <div class="block">
        <div class="block-header">
            <span class="block-title">Statistiques</span>
        </div>
        <div class="block-body">
            <div class="flex">
                <div class="flex-card">
                    <div class="sbs">
                        <img src="{{ asset('img/cloud.png') }}" width="90">
                        <div>
                            {{ co2Saved }} kg
                        </div>
                    </div>
                    <div class="description">
                        de Co2 économisés ce mois
                    </div>
                </div>

                <div class="flex-card">
                    <div class="sbs">
                        <img src="{{ asset('img/person.png') }}" width="90">
                        <div>
                            {{ nbUtilisateurs }}
                        </div>
                    </div>
                    <div class="description">
                        utilisateurs<br>inscrits
                    </div>
                </div>

                <div class="flex-card">
                    <div class="sbs">
                        <img src="{{ asset('img/marker.png') }}" width="90">
                        <div>
                            {{ nbTrajets }}
                        </div>
                    </div>
                    <div class="description">
                        trajets<br>proposés
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6 block">
            <div class="block-header">
                <span class="block-title">Derniers utilisateurs inscrits</span>
            </div>
            <div class="block-body">
                <table>
                    {% if last10Utilisateurs is empty %}
                        <tr>
                            <td class="col-center">Aucun utilisateur enregistré</td>
                        </tr>
                    {% else %}
                        {% for u in last10Utilisateurs %}
                            <tr>
                                <td class="col-left">{{ u.prenom }} {{ u.nom }}</td><td class="col-right">{{ u.ville.ville }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </table>
            </div>
        </div>

        <div class="col-6 block">
            <div class="block-header">
                <span class="block-title">Derniers trajets proposés</span>
            </div>
            <div class="block-body">
                <table>
                    {% if last10Trajets is empty %}
                        <tr>
                            <td class="col-center">Aucun trajet enregistré</td>
                        </tr>
                    {% else %}
                        {% for t in last10Trajets %}
                            <tr>
                                <td class="col-left">{{ t.villeDepart.ville }} -> {{ t.villeArrivee.ville }}</td><td class="col-right">{{ t.typeTrajet.typeTrajet }}</td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}