{% extends '@BackOffice/base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/list.css') }}" />
{% endblock %}

{% block body %}
    <div class="list-header">
        <h1>Voitures list</h1>
        <a href="{{ path('voiture_new') }}">Create a new voiture</a>
    </div>

    <table>
        <thead>
            <tr>
                <th style="width: 10%">Id</th>
                <th style="width: 20%">Marque</th>
                <th style="width: 30%">Modèle</th>
                <th style="width: 30%">Type</th>
                <th style="width: 10%; text-align: right">Action</th>
            </tr>
        </thead>
        <tbody>
        {% for voiture in voitures %}
            <tr onclick="window.location.href = '{{ path('voiture_show', { 'id': voiture.id }) }}'">
                <td>{{ voiture.id }}</td>
                <td>{{ voiture.marque }}</td>
                <td>{{ voiture.modele }}</td>
                <td>{{ voiture.typeVehicule }}</td>
                <td>
                    <a href="{{ path('voiture_edit', { 'id': voiture.id }) }}">Modifier</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
