{% extends '@BackOffice/base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/new.css') }}" />
{% endblock %}

{% block body %}
    <h1>Typetrajet edit</h1>

    <div class="row">
        <div class="col-7">
            <div class="block">
                <div class="block-header">
                    <span class="block-title">Détails</span>
                </div>
                <div class="block-body">
                    {{ form_start(edit_form) }}
                    <table class="entity">
                        <tr><td>{{ form_label(edit_form.typeTrajet) }}</td><td>{{ form_widget(edit_form.typeTrajet) }}{{ form_errors(edit_form.typeTrajet) }}</td></tr>

                        <tr>
                            <td></td><td><input type="submit" value="Modifier"/></<td>
                        </tr>
                    </table>
                    {{ form_end(edit_form) }}
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="block">
                <div class="block-header">
                    <span class="block-title">Action</span>
                </div>
                <div class="block-body">
                    <table class="action">
                        <tr><td>
                            {{ form_start(delete_form) }}
                                <input type="submit" value="Supprimer">
                            {{ form_end(delete_form) }}
                        </td></tr>
                        <tr><td><a href="{{ path('typetrajet_index') }}">Retour à la liste</a></td></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
