{% extends '@BackOffice/base.html.twig' %}

{% block body %}
    <h1>Typetrajets list</h1>

    <table>
        <thead>
            <tr>
                <th>Typetrajet</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for typeTrajet in typeTrajets %}
            <tr>
                <td><a href="{{ path('typetrajet_show', { 'id': typeTrajet.id }) }}">{{ typeTrajet.typeTrajet }}</a></td>
                <td>{{ typeTrajet.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('typetrajet_show', { 'id': typeTrajet.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('typetrajet_edit', { 'id': typeTrajet.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('typetrajet_new') }}">Create a new typeTrajet</a>
        </li>
    </ul>
{% endblock %}
