{% extends '@BackOffice/base.html.twig' %}

{% block body %}
    <h1>Typetrajet</h1>

    <table>
        <tbody>
            <tr>
                <th>Typetrajet</th>
                <td>{{ typeTrajet.typeTrajet }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ typeTrajet.id }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('typetrajet_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('typetrajet_edit', { 'id': typeTrajet.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
