<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}" />
        <link rel="stylesheet" href="{{ asset('css/login.css') }}" />
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8">
                    <img src="{{ asset('img/banner_whitebg.png') }}" class="banner">

                    <div class="block">
                        <div class="block-header">
                            <span class="block-title">Connexion</span>
                        </div>
                        <div class="block-body">
                            <form action="{{ path('login') }}" method="post">
                                <label for="username">Identifiant :</label>
                                <input type="text" id="username" name="_username" value="{{ last_username }}" placeholder="admin"/>

                                <label for="password">Mot de passe :</label>
                                <input type="password" id="password" name="_password" placeholder="admin"/>

                                <div class="form-error">
                                    {% if error %}
                                        Erreur d'authentification : {{ error.messageKey|trans(error.messageData, 'security') }}
                                    {% endif %}
                                </div>
                                
                                <div class="form-footer">
                                    <div></div>
                                    <button type="submit">Se connecter</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-2"></div>
            </div>
        </div>

        <footer>
            ISEN Yncréa Brest - CIR 3 - Projet de Framework | Margaux DOUDET et Alexandre THOMAS | Tous droits réservés
        </footer>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>
