{% extends '@BackOffice/base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/list.css') }}" />
{% endblock %}

{% block body %}
    <div class="list-header">
        <h1>Co2s list</h1>
        <a href="{{ path('co2_new') }}">Create a new co2</a>
    </div>

    <table>
        <thead>
            <tr>
                <th style="width: 10%">Id</th>
                <th style="width: 50%">Valco2</th>
                <th style="width: 30%">Actif</th>
                <th style="width: 10%; text-align: right">Action</th>
            </tr>
        </thead>
        <tbody>
        {% for co2 in co2s %}
            <tr onclick="window.location.href = '{{ path('co2_show', { 'id': co2.id }) }}'">
                <td>{{ co2.id }}</td>
                <td>{{ co2.valCo2 }}</a></td>
                <td>{% if co2.actif %}Yes{% else %}No{% endif %}</td>
                <td>
                    <a href="{{ path('co2_edit', { 'id': co2.id }) }}">Modifier</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
