{% extends 'base.html.twig' %}

{% block body %}
    <h1>Co2s list</h1>

    <table>
        <thead>
            <tr>
                <th>Valco2</th>
                <th>Actif</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for co2 in co2s %}
            <tr>
                <td><a href="{{ path('co2_show', { 'id': co2.id }) }}">{{ co2.valCo2 }}</a></td>
                <td>{% if co2.actif %}Yes{% else %}No{% endif %}</td>
                <td>{{ co2.id }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('co2_show', { 'id': co2.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('co2_edit', { 'id': co2.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('co2_new') }}">Create a new co2</a>
        </li>
    </ul>
{% endblock %}
