<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/styles.css') }}" />
        {% block stylesheets %}{% endblock %}
        
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <header class="container">
            <img src="{{ asset('img/banner_whitebg.png') }}" class="banner">
            <img src="{{ asset('img/logout.png') }}" class="logout">
        </header>
        <nav>
            <div class="container">
                <div class="row">
                    <div class="col-2 nav-item"><a href="{{ path('back_office_homepage') }}">Accueil</a></div>
                    <div class="col-2 nav-item dropdown">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown">Utilisateurs</a>

                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ path('utilisateur_index') }}">Utilisateurs</a>
                            <a class="dropdown-item" href="{{ path('categorie_index') }}">Catégories</a>
                        </div>
                    </div>
                    <div class="col-2 nav-item dropdown">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown">Véhicules</a>

                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ path('possede_index') }}">Possède</a>
                            <a class="dropdown-item" href="{{ path('voiture_index') }}">Voitures</a>
                            <a class="dropdown-item" href="{{ path('marque_index') }}">Marques</a>
                            <a class="dropdown-item" href="{{ path('typevehicule_index') }}">Types de vehicule</a>
                        </div>
                    </div>
                    <div class="col-2 nav-item"><a href="{{ path('ville_index') }}">Ville</a></div>
                    <div class="col-2 nav-item dropdown">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown">Trajets</a>

                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ path('trajet_index') }}">Trajets</a>
                            <a class="dropdown-item" href="{{ path('typetrajet_index') }}">Types de trajet</a>
                        </div>
                    </div>
                    <div class="col-2 nav-item dropdown">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown">Covoiturage</a>

                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="{{ path('covoiturage_index') }}">Covoiturage</a>
                            <a class="dropdown-item" href="{{ path('typecovoit_index') }}">Types de covoiturage</a>
                            <a class="dropdown-item" href="{{ path('co2_index') }}">Co2</a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        
        <div id="main" class="container">
            {% block body %}{% endblock %}
        </div>

        <footer>
            ISEN Yncréa Brest - CIR 3 - Projet de Framework | Margaux DOUDET et Alexandre THOMAS | Tous droits réservés
        </footer>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>