{% extends '@BackOffice/base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/list.css') }}" />
{% endblock %}

{% block body %}
    <div class="list-header">
        <h1>Categories list</h1>
        <a href="{{ path('categorie_new') }}">Create a new categorie</a>
    </div>

    <table>
        <thead>
            <tr>
                <th style="width: 10%">Id</th>
                <th style="width: 80%">Categorie</th>
                <th style="width: 10%; text-align: right">Action</th>
            </tr>
        </thead>
        <tbody>
        {% for categorie in categories %}
            <tr onclick="window.location.href = '{{ path('categorie_show', { 'id': categorie.id }) }}'">
                <td>{{ categorie.id }}</td>
                <td>{{ categorie.categorie }}</td>
                <td>
                    <a href="{{ path('categorie_edit', { 'id': categorie.id }) }}">Modifier</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
