{% extends '@BackOffice/base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/details.css') }}" />
{% endblock %}

{% block body %}
    <h1>Marque creation</h1>

    <div class="row">
        <div class="col-7">
            <div class="block">
                <div class="block-header">
                    <span class="block-title">Détails</span>
                </div>
                <div class="block-body">
                    {{ form_start(form) }}
                    <table class="entity">
                        <tr><td>{{ form_label(form.marque) }}</td><td>{{ form_widget(form.marque) }}{{ form_errors(form.marque) }}</td></tr>

                        <tr>
                            <td></td><td><input type="submit" value="Créer"/></<td>
                        </tr>
                    </table>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="block">
                <div class="block-header">
                    <span class="block-title">Action</span>
                </div>
                <div class="block-body">
                    <table class="action">
                        <tr><td><a href="{{ path('marque_index') }}">Retour à la liste</a></td></tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
